.TableOfContents
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin: 4px;
	text-align: left;
	border-collapse: collapse;
}
.TableOfContents table{
	width: 99%;
}
.TableOfContents th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('../img/gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
        text-align: center;
}
.TableOfContents td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('../img/gradback.png') repeat-x;
}
.TableOfContents tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
        text-align: center;
}
.TableOfContents tbody td:hover
{
	background: #d0dafd url('../img/gradhover.png') repeat-x;
	color: #339;
}
